@media (min-width: 375px) {
    body {
      font-family: Poppins, sans-serif;
      height: auto;
      width: 100%;
      margin: 0;
      background-color: #f4f5f7;
    }
  
    .top-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-right: 3%;
      padding-left: 3%;
      background-color: white;
    }
  
    a {
      text-decoration: none;
    }
  
    .top-navigation a {
      color: #6070ff;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 111%;
    }
  
    .header-text {
      display: flex;
      flex-direction: column;
      background-image: url('images/mobile-screen.png');
      background-repeat: no-repeat;
      background-position: fixed;
      background-color: white;
    }
  
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      align-items: center;
      color: #172b4d;
      margin-top: 25px;
      padding-right: 3%;
      padding-left: 3%;
      padding-top: 21%;
    }
  
    section img {
      width: 100%;
    }
  
    .header-text p {
      font-size: 16px;
      line-height: 150%;
      color: #344563;
      padding-right: 3%;
      padding-left: 3%;
    }
  
    .icon-text {
      font-size: 16px;
      line-height: 16px;
      color: #7f8cff;
      padding-right: 3%;
      padding-left: 2%;
      margin-top: 30px;
      margin-bottom: -16px;
    }
  
    .icon-text h4 {
      color: #7f8cff;
    }
  
    .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;
      padding-right: 3%;
      padding-left: 2%;
    }
  
    .social-icons li {
      list-style: none;
      margin: 0 10px;
    }
}